* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --main-text-color: #495367;
    --secondary-text-color: #8A53FF;
    --description-text-color: #576074;
    --paragraph-text-color: #434343;
}

.nav_section {
    height: 70px;
    padding-inline: 90px;
    align-content: center;
    box-shadow: 0px 4px 16px 0px #0000000A;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

.nav_elements, .nav_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.nav_elements {
    justify-content: space-between;
}

.nav_links {
    gap: 40px;
    font-weight: 300;
    color: var(--main-text-color);
    font-size: 16px;
}

.active_link {
    color: var(--secondary-text-color);
}

.nav_menu_section {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.nav_menu_button {
    outline: none;
    border: none;
    background: none;
}

.nav_menu_button>img {
    width: 18px;
    height: 18px;
}

.hero_container {
    background: url(img/background.png) no-repeat;
    background-size:cover;
    width: 100%;
}

.hero_content_wrapper {
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 78%);
}

.hero_content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 200px 300px ;
}

.hero_title {
    font-size: 56px;
    font-family: "Changa One", sans-serif;
}

.hero_texts {
    width: 396px;
    display: flex;
    gap: 10px;
    font-weight: 400;
    flex-direction: column;
    color: var(--main-text-color);
    margin-bottom: 25px;
}

.hero_main_button {
    font-size: 12px;
    background: var(--secondary-text-color);
    color: white;
    padding: 12px 25px;
    border-radius: 3px;
}

.hero_play_button_icon {
    height: 15px;
    align-content: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #8953ff12;
}

.hero_play_button_icon>img {
    height: 15px;
    width: 15px;
}

.hero_play_button {
    gap: 10px;
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    font-size: 12px;
}

.hero_buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.featured_destination_container {
    padding: 100px 300px;
}

.featured_img_container {
    margin-right: 40px;
}

.featured_destination_wrapper {
    display: flex;
    flex-direction: row;
}

.featured_content {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
}

.featured_category {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 18px;
}

.featured_texts {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 500px;
    margin-bottom: 24px;
}

.featured_title {
    font-family: "Changa One";
    font-size: 36px;
    color: var(--main-text-color)
}

.featured_description {
    color: var(--main-text-color);
    line-height: 33px;
    font-size: 18px;
}

.featured_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--secondary-text-color);
    font-weight: 300;
}

.featured_play_button_icon > img {
    filter: brightness(0) saturate(100%) invert(100%);
    width: 16px;
    height: 16px;
}

.featured_play_button_icon {
    width: 36px;
    height: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
}

.discover_container {
    padding: 50px 300px;
}

.discover_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.discover_texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.discover_category {
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 500;
}

.discover_title {
    color: var(--main-text-color);
    font-size: 36px;
    font-family: "Changa One";
}

.locations_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.location_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.location_card_title {
    color: var(--main-text-color);
    font-family: "Changa One";
    font-size: 24px;
}

.location_card_img_container>img {
    width: 240px;
}

.location_card_button {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 300;
}

.share_container {
    background: url(img/share_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.share_wrapper {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.share_content_wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 600px;
}

.share_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.share_content_title {
    color: var(--main-text-color);
    font-family: "Changa One";
    font-size: 24px;
}

.share_texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.share_content_description {
    color: var(--description-text-color);
    font-size: 18px;
    width: 550px;
    line-height: 34px;
}

.share_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.share_input {
    height: 56px;
    outline: none;
    border: #0000001d 1px solid;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 20px;
    width: 100%;
    box-sizing: border-box; 
}

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.share_input {
    height: 60px;
    outline: none;
    border: #0000001d 1px solid;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 40px 0px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
}

.dropdown-container::after {
    content: "▼";
    font-size: 12px;
    color: grey; 
    position: absolute;
    right: 20px;
    top: 52%;
    transform: translateY(-50%) scaleY(50%);
    pointer-events: none;
}

.share_submit {
    color: #fff;
    background-color: var(--secondary-text-color);
    padding: 15px 100px;
    border: none;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    width: max-content;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0; 
}

.recent_container {
    padding: 100px 300px;
}

.recent_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.recent_main_grid {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recent_content_grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    align-items: baseline
}

.recent_main_card {
    display: flex;
    flex-direction: column;
}

.recent_main_card_title {
    font-size: 24px;
    color: var(--main-text-color);
    font-family: "Changa One";
}

.recent_main_card_description {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 26px;
}

.recent_main_card_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    background-color: #F9F9F9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.recent_main_card_texts {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
    width: 430px;
}

.recent_play_button_icon > img {
    filter: brightness(0) saturate(100%) invert(100%);
    width: 22px;
    height: 22px;
}

.recent_play_button_icon {
    width: 48px;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
}

.recent_story_card {
    background-color: #F9F9F9;
    border-radius: 8px;
    padding: 8px;
}

.recent_story_card_content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.recent_story_card_texts {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recent_story_card_title {
    font-size: 24px;
    color: var(--main-text-color);
    font-family: "Changa One";
}

.recent_story_card_img {
    height: 100%;
}

.recent_story_card_description {
    color: var(--description-text-color);
    font-size: 15px;
    line-height: 26px;
}

.recent_story_card_texts {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer_section {
    height: 80px;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 40px;
    font-weight: 300;
    color: #939EB4;
    font-size: 14px;
}

.rights_reserved {
    font-weight: 300;
    color: #939EB4;
    font-size: 14px;
}

.main_content_grid {
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    padding-top: 46px;
}

.article_hero_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article_hero_header_texts {
    display: flex;
    flex-direction: column;
}

.article_hero_header_author {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.article_hero_header_author_texts {
    display: flex;
    flex-direction: column;
}

.article_hero_header_category {
    font-size: 18px;
    color: var(--secondary-text-color);
    font-weight: 700;
}

.article_hero_header_title {
    font-size: 50px;
    color: var(--paragraph-text-color);
    font-family: "Changa One";
}

.article_hero_header_author_name {
    font-size: 16px;
    color: var(--main-text-color);
    font-weight: 400;
}

.article_hero_header_author_status {
    font-size: 14px;
    color: #A2A7B1;
    font-weight: 400;
    font-style: italic;
}

.article_hero_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article_hero_video_background {
    position: relative;
    width: 100%;
}

.article_hero_video_button {
    position: absolute;
    z-index: 10;
}

.article_hero_video_title {
    position: absolute;
    z-index: 9;
    padding-bottom: 145px;
    width: 33%;
}

.article_hero_video_container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--paragraph-text-color);
}

.paragraph_title {
    font-size: 32px;
    font-family: "Changa One";
}

.paragraph_description {
    font-size: 16px;
    font-weight: 400;
}

.blog_article_page {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.callout_container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.callout_img_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.callout_second_img_grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.callout_main_img>img, .callout_second_img_grid>img {
    width: 100%;
}

.callout_content {
    display: flex;
    flex-direction: column;
    padding-left: 34px;
    gap: 30px;
    padding-top: 36px;
}

.callout_title_container {
    display: flex;
    flex-direction: row;
    gap: 17px;
    align-items: flex-start;
}

.callout_title {
    font-size: 42px;
    line-height: 47px;
    font-style: italic;
    color: var(--paragraph-text-color);
    font-family: "Changa One";
}

.callout_text {
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
}

.callout_button {
    background-color: var(--secondary-text-color);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    height: 46px;
    width: 165px;
}

.hightlights_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hightlights_grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.hightlights_card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hightlights_card>img {
    width: 100%;
}

.hightlights_card_description {
    font-size: 14px;
    font-style: italic;
    color: #828181;
}

.hightlights_title {
    font-size: 32px;
    font-family: "Changa One";
    color: var(--paragraph-text-color);
}

.disclaimer_section {
    padding: 19px 26px;
    background-color: #FAFAFA;
}

.disclaimer_title {
    font-size: 16px;
    font-weight: 700;
    color: var(--paragraph-text-color);
    line-height: 26px;
}

.disclaimer_description {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
    line-height: 26px;
}

.nav_link>a {
    text-decoration: none;
    color: var(--main-text-color);
}

.active_link>a {
    color: var(--secondary-text-color);
}